/* You can add global styles to this file, and also import other style files */
/*There has be a better way to do this*/
@import "fonts.css";

h1 {
    color: #452293;
    font-family: "Suez One"; /*YAAA It's working :D*/   
}

h2 {
    color: black;
    font-family: 'IMB Plex Sans';
    font-weight: 200;
}

p {
    color: red;
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 100;
}